:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

.input {
    display: flex;
    width: 95%;
    position: relative;
    align-items: center;
}

.input__box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    /* box-shadow: inset 0 0 15px #40ffff; */
    background-color: black;
    color: white;
}

.input__box:focus {
    /* box-shadow: 0 0 10px 1000px rgba( 0, 0, 0, 0.5); */
    outline: none;
}

.input__submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: black;
    color: #40ffff;
    transition: 0.2s all;
    cursor: pointer;
    box-shadow: inset 0 0 10px #40ffff;
    text-transform: uppercase;
    font-weight: bold;
}

@media (hover: hover) {
    .input__submit:hover {
        background-color: #40ffff;
        color: black;
        box-shadow: 0 0 10px #40ffff;
    }
}

.input__submit:active {
    transform: scale(0.8);
}

.container {
    display: flex;
    width: 95%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.todos {
    display: flex;
    width: 47.5%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: black;
}

.todos__heading,
.todos__heading--done {
    color: #40ffff;
    font-size: 30px;
    align-self: center;
    text-shadow: 0 0 0.125em #40ffff, 0 0 0.45em #40ffff;
}

.todos__heading--done {
    color: hsl(317 100% 54%);
    text-shadow: 0 0 0.125em var(--clr-neon), 0 0 0.45em var(--clr-neon)
}

.todos__single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    box-shadow: inset 0 0 10px #40ffff;
    background-color: black;
    transition: 0.2s;
}

.todos__single:hover {
    transform: scale(1.015);
    box-shadow: inset 0 0 20px #40ffff;
}

.todos__single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
    color: #40ffff;
    text-transform: uppercase;
}

.todos__single--text:focus {
    outline: none;
}

.todos__single:active {
    box-shadow: 0 0 20px #40ffff;
}

.todos__single--edit {
    color: black;
    text-transform: none;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    color: #40ffff;
}

.drag {
    box-shadow: inset 0 0 20px #40ffff;
}






.todos__single--done {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    box-shadow: inset 0 0 10px var(--clr-neon);
    background-color: black;
    transition: 0.2s;
}

.todos__single--done:hover {
    transform: scale(1.015);
    box-shadow: inset 0 0 20px var(--clr-neon);
}

.todos__single--text--done {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
    color: var(--clr-neon);
    text-transform: uppercase;
}

.todos__single--text--done:focus {
    outline: none;
}

.todos__single--edit--done {
    color: black;
    text-transform: none;
}

.todos__single--done:active {
    box-shadow: 0 0 20px var(--clr-neon);
}

.icon__done {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    color: var(--clr-neon);
}

.drag__done {
    box-shadow: inset 0 0 20px var(--clr-neon);
}

/* .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.header div{
    margin: 0 40px;
}

.header a{
    letter-spacing: .15em;
    text-shadow: 0 0 0.125em #40ffff, 0 0 0.8em #40ffff;
}

.header a,
.header div a{
    color: #40ffff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s;
    padding: 1em;
}

.header div a {
    font-size: 30px;
    
}

.header a:hover{
    text-shadow: 0 0 0.125em var(--clr-neon), 0 0 0.45em var(--clr-neon);
    cursor: pointer;
    color: var(--clr-neon);
}

.header div a:hover{
    text-shadow: 0 0 0.125em var(--clr-neon), 0 0 0.45em var(--clr-neon);
    cursor: pointer;
    color: var(--clr-neon);
    transition: 0.2s;
} */


@media (max-width:1100px) {
    .todos {
        width: 45%;
    }
}

@media (max-width: 700px) {
    .todos {
        width: 100%;
        margin-bottom: 10px;
    }

    .container {
        flex-direction: column;
    }
}

/* @media (max-width: 880px){
    .header{
        flex-direction: column;
        justify-content: center;
    }
} */

/* @media (max-width: 540px){
    .header div{
        display: flex;
    
    }  
} */